<% include ./partials/header.ejs %>

<div class="w-full min-h-screen bg-zinc-500 px-10 py-8 text-white ">
    <div class="cards flex flex-wrap gap-10">
        <% posts.forEach(function(elem){ %>
            <div class="card w-32" style="width: 12rem">
                <div class="w-full h-40  bg-zinc-600 rounded-lg overflow-hidden">
                    <img class="w-full h-full object-cover card-img-top" src="/images/uploads/<%= elem.image %>" alt="Picture">
                </div>
                <h5 class="mt-2 text-sm font-medium"><%= elem.title %></h5>
                <h6 class="text-sm opacity-500">@<%= elem.user.username %></h6>
            </div>
     <% }) %>
    </div>
</div>


<% include ./partials/footer.ejs %>